:host{
    display: flex;
    flex-direction: column;
    gap: 8px;


    label{
        letter-spacing: .5;
        color: var(--text-color);
    }

    select{
        appearance: none;
        cursor: pointer;
        border: 1px solid var(--border-color);
        height: 48px;
        border-radius: 4px;
        padding-left: 16px;
        color: var(--text-color);

        option{
            color: var(--text-color);
        }
       
    }
}