:host{
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 60px;
}

.datatable-container{
  overflow: auto;
  height: 400px;
}

table{
  background-color: var(--bg-card);
  
  th{
    font-weight: 700;
    font-size: 15px;
    color: var(--text-color);
  }
  
  td{
    border-bottom: 1px solid var(--border-color);
    padding: 16px;
    color: var(--text-color);

  }
}

mat-paginator{
  background-color:var(--bg-card);
      color: var(--text-color);

}