:host{
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 60px;
}

.datatable-container{
  overflow: auto;
  height: 400px;
}

table{
  background-color: #FFF;
  
  th{
    font-weight: 700;
    font-size: 15px;
    color: #181818;
  }
  
  td{
    border-bottom: 1px solid #DDD;
    padding: 16px;
  }
}

mat-paginator{
  background-color: #FFFFFF;
}