<!-- <div class="tableContainer" class="datatable">
  <h2>Candidatos</h2>
  
    <table datatable [dtOptions]="dtOptions">
      <thead>
        <tr>
          <th>Nome</th>
          <th>BI</th>
          <th>Genero</th>
          <th>Trabalha</th>
          <th>Data</th>
          <th>Morada</th>
          <th>Nacionalidade</th>
          <th>Estado</th>
          <th>Email</th>
          <th>Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.bi }}</td>
          <td>{{ usuario.genero }}</td>
          <td>{{ usuario.trabalha }}</td>
          <td>{{ usuario.dataNascimento }}</td>
          <td>{{ usuario.morada }}</td>
          <td>{{ usuario.nacionalidade }}</td>
          <td>{{ usuario.estadoCivil }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.telefone }}</td>
        </tr>
      </tbody>
    </table>
</div> -->
