.card{
    padding: 24px;
    height: 160px;
    border-radius: 2px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .badge{
        display: flex;
        color: #FFF;
        font-size: 12px;
        padding: 2px 16px;
        border-radius: 2px;
    }

    .title{
        color: var(--text-color);
    }

    .label{
        color: var(--label-color);
    }
}