:host{
    width: 100%;

    margin: 0;
    padding: 0 24px;
    
    align-items: center;
    display: flex;
    justify-content: space-between;

    box-shadow: 0px 0px 5px #ddd;
    box-sizing: border-box;

    z-index: 100px;
}