:host{
    width: 100%;
    margin: 0;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    z-index: 100;
    color: var(--text-color);
    background-color: var(--bg-color);

    button{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        // background-color: red;
        justify-content: center;

    }

    .container-icon{
        align-items: center;
    }

    .user{
        display: flex;
        gap: 16px;
        align-items: center;
        border-left: 1px solid var(--border-color);
        padding: 0 24px;
    }

    .iconUser{
        width: 44px;
        height: 44px;
        border-radius: 50px;

        outline: none;
        border: none;
    }

    .nome{
        font-size: 14px;
        color: var(--text-color);
    }
    .admin{
        font-size: 12px;
        color: var(--text-color);
    }
}