<button
  (click)="changeAsideState()"
  hlmBtn
  variant="ghost"
  class="cursor-pointer"
>
  <ng-icon hlm name="lucideMenu" strokeWidth="1.8px" color="#404040" />
</button>

<div>
  <div class="bg-[#f4f4f4] h-[48px] w-[720px] rounded-[50px]"></div>
</div>

<div class="flex gap-[24px] items-center">
  <button class="cursor-pointer flex items-center">
    <ng-icon
      hlm
      name="lucideMail"
      class="size-3 text-blue-400"
      strokeWidth="1.8px"
      color="#404040"
    />
  </button>

  <button class="cursor-pointer flex items-center">
    <ng-icon
      hlm
      name="lucideBell"
      class="size-3 text-blue-400"
      strokeWidth="1.8px"
      color="#404040"
    />
  </button>

  <button class="iconUser"></button>
</div>
