<span></span>

<div class="flex gap-[8px] items-center">
  <button class="cursor-pointer flex items-center">
    <ng-icon
      hlm
      name="lucideMoon"
      class="size-3 text-blue-400 fill-icon"
      strokeWidth="1.2px"
    />
  </button>

  <!-- <button class="cursor-pointer flex items-center">
    <ng-icon
      hlm
      name="lucideSearch"
      class="size-3 text-blue-400"
      strokeWidth="1.2px"
    />
  </button> -->

  <button class="cursor-pointer flex items-center">
    <ng-icon
      hlm
      name="lucideBell"
      class="size-3 text-blue-400"
      strokeWidth="1.2px"
    />
  </button>

  <div class="user">
    <img class="iconUser" src="user-icon.jpeg" alt="">
  
    <div>
      <p class="nome">Denilson Buquila</p>
      <p class="admin">Admin.</p>
    </div>
  </div>
</div>
