:host{
    .container{
        position: relative;
        box-sizing: border-box;
        padding: 48px;
        overflow: hidden;
        display: grid;
        grid-template-rows: 80px 1fr;

         .header{
            border-bottom: 1px solid var(--border-color);
            display: flex;
            gap: 16px;
            flex-direction: column;

            h2{
                font-size: 24px;
                color: var(--text-color);

            }
            
            p{
                font-weight: 100;
                color: var(--text-color);
            }
        }
    }
}

