
.container{
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 400px;
    padding: 0;


    .container-info{ 
        background-color: var(--container-color);
        padding: 40px;
        border-radius: 4px;
        box-shadow: 0px 0px 5px #00000010;
        

          h2{
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 20px;
        margin-bottom: 24px;
        color: var(--text-color);
    }
        .container-all-inputs{
            display: grid;
            grid-template-columns: auto auto;
            gap: 24px 40px;
            padding-top: 40px;
        }
        
    }
    
    .container-perfil{
        background-color: var(--container-color);
        padding: 44px;
        border-radius: 4px;
        box-shadow: 0px 0px 5px #00000010;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding-top: 24px;
                color: var(--text-color);

        

                 h2{
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 20px;
    }

    .container{
        margin: 0;
        width: 100%;
        padding-top: 48px;
    }
        
        div{
            display: flex;
            gap: 16px;
            align-items: center;
        }
        
        .container-body{
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
        }
        
        .container-button{
            padding-top: 24px;
        }

        .user-image-container{
            width: 120px;
            height: 120px;
            background-color: #dfdfdf;
            border-radius: 50%;
        }
    }
}
