<app-header-main />
<div class="container">
    <div class="container-info">
        <h2>Seus Dados </h2>
        <mat-tab-group>
            <mat-tab label="First"> 
                <div class="container-all-inputs">
                    <app-input-with-label label="Nome" />
                    <app-input-with-label label="Filho de:" />
                    <app-input-with-label label="E de:" />
                    <app-input-with-label label="Gênero" />
                    <app-input-with-label label="Data de nascimento" />
                    <app-select-with-label label="Estado Civil" />
                    <app-input-with-label label="País" />
                    <app-input-with-label label="Província" />
                    <app-main-button label="Editar"/>
                </div>

                
            </mat-tab>
            <mat-tab label="Dados Académicos"> Dados Académicos </mat-tab>
            <mat-tab label="Documentos"> Documentos </mat-tab>
            <mat-tab label="Pagamentos"> Pagamentos </mat-tab>
            <mat-tab label="Ficha De Inscrição"> Ficha De Inscrição </mat-tab>
        </mat-tab-group>

    </div>

    <div class="container-perfil">
        <div class="container">
            <div class="user-image-container"></div>
    
            <div class="container-body">
                <h2>Denilson Roberto</h2>
                <p>Austin@gmail.com</p>
            </div>
    
            <div class="container-button">
                <app-main-button label="Licença" />
                <app-main-button label="Carteira"/>
            </div>
        </div>
    </div>
</div>