:host{
    display: flex;
    
    button{
        border-radius: 4px; 
        padding: 16px 40px;
        background-color: var(--main-color);
        color: #FFF;

        font-weight: 500;
        font-size: 14px;
    }
}