<app-header-main />

<div class="container">
  <div class="container-card">
    <app-card-estatistica label="Total Revenue" title="Renue" value="$30.000,00" badge="Monthly" percent="35" badgeColor="#3AAF3AFF"/>
    <app-card-estatistica label="New Orders" title="Order" value="2500" badge="Anual" percent="24" badgeColor="#C98200FF"/>
    <app-card-estatistica label="New Leads" title="Leads" value="$35.000,00" badge="Today" percent="50" badgeColor="#D83C3CFF"/>
    <app-card-estatistica label="This Month" title="Conversion" value="35%" badge="This Month" percent="30" badgeColor="#3D91D6FF"/>
  </div>
  
  <div class="container-table">
    <!-- <app-user-tables /> -->
  </div>
</div>