
:host{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 210px 1fr;
    
    
    .container-header{
        background-color: var(--main-color);
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .title{
            color: #f4f4f4;
            font-size: 32px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        .subtitle{
            color: #f4f4f4dc;
        }
    }

    .main{
        margin-top: -64px;
        // padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 72%;
        margin: -48px auto 0 auto;
        
        .container-table{
            height: 100%;
        }

        .container-card{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr ));
            gap: 28px;
            justify-content: space-between;

        }

        .container-table{
        }
    }
}