.container{
    background-color: transparent;
    padding: 0;

        .container-card{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr ));
            gap: 28px;
            justify-content: space-between;

    }
}
  
