@use "@spartan-ng/brain/hlm-tailwind-preset.css";
@use "tailwindcss";
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

* {
  font-family: sans-serif;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0;
}

:root {
  --font-sans: "";
  --main-color: #b62b01;
  --bg-color: #fff;
  --text-color: #181818;
  --border-color: #ddd;
  --bg-section-color: #f0f0f0;
}

.dark-theme {
  --bg-color: #181818;
  --text-color: #f4f4f4;
  --border-color: #404040;
  --bg-section-color: #242424;
  --bg-card: #303030;
  --label-color: #ddd;
  --container-color: #303030;
}

body{
  background-color: red;
}

.container{
  background-color: var(--container-color);
  padding: 48px;
  margin: -48px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 82%;
  margin: -48px auto 0 auto;
  height: 74%;
  border-radius: 8px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
