:host {
  display: block;

  .menu {
    border-right: 1px solid #ddd;
    width: 120px;
    height: 100%;
    position: absolute;
    display: block;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 24px;
    z-index: 10;
  }

  .subMenu {
    background-color: #fff;
    width: 120px;
    height: 100%;
    position: absolute;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    transition: all .3s ease-out;
  }
  
  .showSubMenu {
    left: 110px;
    z-index: 11;
    opacity: 1;
  }
  
  .hideSubMenu {
    opacity: 0;
    left: 80px;
    pointer-events: none;
  }
}
