<div class="menu">
  <app-aside-bar-tab (exposeSubMenu)="getActiveSubMenu($event)" label="Layers" route="archives/" lucideIcon="lucideLayers" [menu]="subMenuData.layersMenu"/>
  <app-aside-bar-tab (exposeSubMenu)="getActiveSubMenu($event)" label="graphic" route="graphics/" lucideIcon="lucideChartBar" [menu]="subMenuData.graphicsMenu"/>
  <app-aside-bar-tab label="Configs" route="settngs" lucideIcon="lucideSettings"/>
</div>

<div class="subMenu" [ngClass]="asideState">
  <ul class="gap-3 flex flex-col pl-6 pt-8">
    @for (item of activeSubMenu; track $index) {
      <li class="pButton" [routerLink]="item.route" routerLinkActive="subLinkActive">{{item.label}}</li>
    }
  </ul>
</div>
