<div class="menu">
  <button class="" routerLink="archives/home"  routerLinkActive="router-link-active" (click)="changeAsideState()">
    <ng-icon
      hlm
      name="lucideLayers"
      strokeWidth="1px"
      />
      <!-- [color]="activeColor" -->
    <p class="pButton">Candidatos</p>
  </button>


  <button>
    <ng-icon hlm name="lucideSettings" strokeWidth="1px" color="#181818" />
    <p class="pButton">Settings</p>
  </button>
</div>

<div class="subMenu" [ngClass]="asideState">
  <ul [ngClass]="" class="gap-3 flex flex-col pl-6 pt-8">
    <li class="pButton" routerLink="archives/home" routerLinkActive="subLinkActive">Dasboard</li>
    <li class="pButton" routerLink="archives/detalhes" routerLinkActive="subLinkActive">Registrar</li>
    <li class="pButton" routerLink="archives/about" routerLinkActive="subLinkActive">Listar</li>
  </ul>
</div>
